.PortFolioListItem {
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: all ease-in 400ms;
}

.PortFolioListItem:hover {
  transform: scale(1) rotate(0deg);
}

.PortFolioListItemBox {
  box-sizing: border-box;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  max-width: 360px;
  max-height: 240px;
  padding-bottom: 52%;
  box-shadow: 2px 2px 40px #111;
}

.PortfolioLIstItemTitle {
  background-color: var(--interactive);
  color: var(--text);
  font-weight: bold;
  text-decoration: none;
  padding: .3em 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 360px;
  margin: 0;
}