.PortFolioDetail {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--content-light);
    text-align: left;
    box-shadow: 2px 2px 40px #111;
}

.PortFolioDetailTitle {
    flex: 1 1 0;
    padding: 0.5rem;
}

.PortFolioDetailMeta {
    display: flex;
    flex-wrap: wrap;
}

.SkilllList {
    list-style: none;
    margin: 0;
    padding: 0.5rem;
}

.SkilllListItem {
    display: flex;
    margin: 0;
    padding: 0;
}

.SkillListItemLabel {
    margin-left: 1rem;
}

.PortFolioDetailDescription {
    padding: 0.5rem;
}