.PortFolioFilter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  margin-bottom: 2em
}

.PortFolioFilterRange {
  width: 82%;
  display: block;
}

.PortFolioFilterLabels {
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: var(--text);
  font-size: 1.1em;
  padding: 0;
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
  color: var(--interactive);
}

.PortFolioFilterLabel {
  width: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.PortFolioFilterLabel span {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}

.range {
  position: relative;
  height: 50px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 10px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 0.2px var(--interactive-light), 0px 0px 0px var(--interactive);
  background: var(--interactive-light);
  border-radius: 0px;
  border: 0px solid var(--interactive-light);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px var(--interactive-light), 0px 0px 0px var(--interactive);
  border: 0px solid var(--interactive);
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background: var(--interactive);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--interactive-light);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 0.2px var(--interactive-light), 0px 0px 0px var(--interactive);
  background: #205928;
  border-radius: 0px;
  border: 0px solid var(--interactive);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px var(--interactive-light), 0px 0px 0px var(--interactive);
  border: 0px solid #83e584;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background: #92d343;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #194620;
  border: 0px solid var(--interactive-light);
  border-radius: 0px;
  box-shadow: 0px 0px 0.2px var(--interactive-light), 0px 0px 0px var(--interactive);
}
input[type=range]::-ms-fill-upper {
  background: #205928;
  border: 0px solid var(--interactive-light);
  border-radius: 0px;
  box-shadow: 0px 0px 0.2px var(--interactive-light), 0px 0px 0px var(--interactive);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px var(--interactive-light), 0px 0px 0px var(--interactive);
  border: 0px solid #83e584;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background: var(--interactive);
  cursor: pointer;
  height: 20px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #205928;
}
input[type=range]:focus::-ms-fill-upper {
  background: #276c30;
}

@media only screen and (min-width: 640px) {
  .PortFolioFilterLabels {
    font-size: 2.8vw;
  }
}

@media only screen and (min-width: 1200px) {
  .PortFolioFilterLabels {
    font-size: 2vw;
  }
}